<div ng-include="'components/navbar/navbar.html'"></div>

<header ng-if="!isLoggedIn()" class="hero-unit" id="banner">
    <div class="container">
        <h1>Countdown</h1>

        <p class="lead">Watch the clock tick down on all your upcoming events!</p>
        <div class="row">
            <div class="col-lg-12">
                <a href="/signup"><button type="button" class="btn-lg btn-success">Sign up</button></a>
                <span>or </span><a href="/login">Login</a>
            </div>
        </div>
        <img src="assets/images/yeoman.png" alt="I'm Yeoman">
    </div>
</header>

<div ng-if="isLoggedIn()" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Events:</h1>
            <ul class="nav nav-tabs nav-stacked col-lg-6" ng-repeat="event in events">
                <li>{{event.name}} - <span am-precise-range="event.date"></span></li>
            </ul>
        </div>
    </div>

    <form class="event-form">
        <label>Create a new Countdown</label>

        <div class="row">
            <div class="col-lg-7">
                <input type="text"
                       ng-model="newEvent.name"
                       placeholder="Name"
                       class="form-control"
                       ng-required="true"/>
            </div>
            <div class="input-group col-lg-4">
                <input type="text"
                       ng-model="newEvent.date"
                       class="form-control"
                       placeholder="Date"
                       datepicker-popup="{{datepicker.format}}"
                       datepicker-options="datepicker.dateOptions"
                       min-date="{{datepicker.minDate}}"
                       is-open="datepicker.isOpen"
                       ng-required="true"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="datepicker.open($event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </div>
            <div class="col-lg-1">
                <button type="submit" class="btn btn-primary" ng-click="addEvent(newEvent)">Add Event</button>
            </div>
        </div>
    </form>

</div>

<footer class="footer">
    <div class="container">
        <p><a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
            <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
    </div>
</footer>
